<section class="preparation-method">
  <div class="preparation-method-header">
    <h2>Método de Preparo</h2>
    <div></div>
    <button (click)="addStep()">
      <span class="material-symbols-outlined">add_circle</span>
      <span>Adicionar</span>
    </button>
  </div>

  <div class="grid-step">
    @for (step of steps; track $index) {
      <article class="grid-step-item">
        <span class="grid-step-num">{{ step.id }}</span>
        <div class="grid-step-content">
          <!-- Se estiver editando -->
          @if (step.editing) {
            <input
              [(ngModel)]="step.title"
              placeholder="Título do passo"
              (keyup.enter)="confirmStep(step)"
              class="step-input-title"
            />
            <textarea
              [(ngModel)]="step.description"
              placeholder="Descrição do passo"
              (keyup.enter)="confirmStep(step)"
              class="step-input-desc"
            ></textarea>
            <button (click)="confirmStep(step)" class="confirm-btn">OK</button>
          } @else {
            <!-- Se já confirmou -->
            <h3 class="grid-step-title">{{ step.title }}</h3>
            <p class="grid-step-desc">{{ step.description }}</p>
            <div class="btn-edition-conteiner">
              <button (click)="editStep(step)" class="edit-btn">
                <span class="material-symbols-outlined">edit</span>
              </button>
              <button (click)="removeStep($index)" class="remove-btn">
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
          }
        </div>
      </article>
    }
  </div>
</section>
