@use 'variables' as *;

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .recipe-card {
    display: block;
    position: relative;
    background-color: $surface-container-low;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 1px solid rgba($outline-variant, 0.05);
    transition: all 0.2s ease-in-out;

    &:hover {
      border-color: rgba($primary, 0.2);
      transform: scale(1.1);
    }

    .card-image {
      position: relative;
      width: 100%;
      overflow: hidden;

      padding-top: 56.25%;

      > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;

        .group:hover & {
          transform: scale(1.05);
        }
      }
    }

    .card-content {
      padding: 1.5rem;

      .card-meta {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1rem;

        .meta-tag {
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          color: $primary;
          font-weight: bold;
        }

        .meta-link {
          font-size: 10px;
          color: $on-surface-variant;
        }
      }

      .recipe-title {
        font-size: 1.8rem;
        font-family: $font-serif;
        margin-bottom: 1rem;
        line-height: 1.25;
        transition: color 0.2s ease-in-out;

        .group:hover & {
          color: $primary;
        }
      }

      .card-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 0.75rem;
        line-height: 1rem;

        .btn-view {
          display: flex;
          gap: 0.25rem;
          align-items: center;
          background: none;
          border: none;
          cursor: pointer;
          color: $on-surface-variant;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: $primary;
          }

          span {
            font-size: 0.875rem;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
}
