<!-- <section class="table-ingredients-section">
  <div class="table-ingredients-header">
    <h2>Ingredientes e Insumo</h2>

    <button (click)="addIngredient()">
      <span class="material-symbols-outlined">add_circle</span>
      <span>Adicionar</span>
    </button>
  </div>

  <div class="table-ingredients-container">
    <table class="table-ingredients">
      <thead>
        <tr>
          <th>INGREDIENTES/UNIDADES</th>
          <th>PL (PESO LÍQUIDO)</th>
          <th>FC (FATOR CORREÇÃO)</th>
          <th>PB (PESO BRUTO)</th>
          <th>FCY (COCÇÃO)</th>
          <th>QUANTIDADE TOTAL</th>
        </tr>
      </thead>
      <tbody>
        @for (item of ingredients; track $index) {
          <tr>
            <td><input [(ngModel)]="item.name" placeholder="Ingrediente {{ $index + 1 }}" /></td>
            <td><input [(ngModel)]="item.netWeight" /></td>
            <td><input [(ngModel)]="item.correctionFactor" /></td>
            <td><input [(ngModel)]="item.grossWeight" /></td>
            <td><input [(ngModel)]="item.cookingFactor" /></td>
            <td><input [(ngModel)]="item.totalQuantity" /></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section> -->

<section class="table-ingredients-section">
  <div class="table-ingredients-header">
    <h2>Ingredientes e Insumo</h2>
    <button (click)="addIngredient()">
      <span class="material-symbols-outlined">add_circle</span>
      <span>Adicionar</span>
    </button>
  </div>

  <div class="table-ingredients-container">
    <table class="table-ingredients">
      <thead>
        <tr>
          <th>INGREDIENTES/UNIDADES</th>
          <th>PL (PESO LÍQUIDO)</th>
          <th>FC (FATOR CORREÇÃO)</th>
          <th>PB (PESO BRUTO)</th>
          <th>FCY (COCÇÃO)</th>
          <th>QUANTIDADE TOTAL</th>
          <th></th> <!-- coluna para o botão -->
        </tr>
      </thead>
      <tbody>
        @for (item of ingredients; track $index) {
          <tr>
            <td><input [(ngModel)]="item.name" placeholder="Ingrediente {{ $index + 1 }}" /></td>
            <td><input [(ngModel)]="item.netWeight" /></td>
            <td><input [(ngModel)]="item.correctionFactor" /></td>
            <td><input [(ngModel)]="item.grossWeight" /></td>
            <td><input [(ngModel)]="item.cookingFactor" /></td>
            <td><input [(ngModel)]="item.totalQuantity" /></td>
            <td>
              <button (click)="removeIngredient($index)" class="remove-btn">
                <span class="material-symbols-outlined">delete</span>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
