<div class="recipes-grid">

    @for (recipe of recipes; track recipe.details.name) {
    <article class="recipe-card">
        <div class="card-image">
            <div>
                <img [src]="recipe.details.image || '/receita.png'" [alt]="recipe.details.name || 'Receita padrão'" />
            </div>
        </div>

        <div class="card-content">
            <div class="card-meta">
                <span class="meta-tag">FICHA TÉCNICA</span>
                <a class="meta-link">Acessar Detalhes</a>
            </div>

            <h3 class="recipe-title">{{ recipe.details.name }}</h3>

            <div class="card-footer">
                <button class="btn-view">
                    Visualizar Detalhes
                    <span class="material-symbols-outlined">arrow_forward</span>
                </button>
            </div>
        </div>
    </article>
    }
    
</div>