<div class="recipes-grid">
   
    <article class="recipe-card" *ngFor="let recipe of recipes">
        <div class="card-image">
            <img [src]="" src="/receita.png" [alt]="recipe.details.name" />
        </div>

        <div class="card-content">
            <div class="card-meta">
                <span class="meta-tag">FICHA TÉCNICA</span>
                <a class="meta-link">Acessar Detalhes</a>
            </div>

            <h3 class="recipe-title">{{ recipe.details.name }}</h3>
           
            <div class="card-footer">
                <button class="btn-view">
                    Visualizar Detalhes
                    <span class="material-symbols-outlined">arrow_forward</span>
                </button>
            </div>
        </div>
    </article>
</div>