<header>
  <nav class="navbar">
    <div class="logo">Gastro Factor</div>
    <div class="menu">
      <a routerLink="/gastro-factor" class="active">Home</a>
      <!-- TODO depois verificar como colocar os links das paginas -->
      <a href="">Meu Acervo</a>
      <a href="">Sobre</a>
    </div>
    <div class="auth">
      @if (!authService.isAuthenticated()) {
        <a (click)="onLogin()">Login</a>
      } @else {
        <a (click)="onLogout()">Logout</a>
      }

      <img alt="Chef Profile" class="profile-image" src="/profile.png" />
    </div>
  </nav>
</header>
