<section class="card-details">
  <div class="card-info-row">
    <div class="card-info-group">
      <label>NOME DA RECEITA</label>
      <input type="text" placeholder="Ex: Costela 48h Braseada" class="input-display" />
    </div>

    <div class="card-info-group small">
      <label>RENDIMENTO (PORÇÕES)</label>
      <input type="number" class="input-display" placeholder="Ex: 12" />
    </div>

    <div class="card-info-group medium">
      <label>CATEGORIA</label>
      <select class="select-display">
        <option>Entrada</option>
        <option>Prato Principal</option>
        <option>Sobremesa</option>
      </select>
    </div>
  </div>
</section>
