@use 'variables' as *;
@import 'normalize.css';

/* Esconde a barra de scroll no Chrome, Safari e Edge */
::-webkit-scrollbar {
  display: none;
}

/* Esconde no Firefox */
html {
  scrollbar-width: none; /* sem barra */
}

/* Esconde no IE/Edge antigo */
html {
  -ms-overflow-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $surface;
  color: $on-surface;
  font-family: $font-sans;

  ::selection {
    background: $primary;
    color: $on-primary;
  }
}

body.modal-open {
  overflow: hidden;
}
